html,
body {
  padding: 0;
  margin: 0;
  font-family:
    system-ui,
    Roboto,
    Raleway,
    Josefin Sans;
  height: 100vh;
  width: 100vw;
  border: 0;
  overflow-x: clip;
}

html {
  background: #000505;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; 
}

@font-face {
  font-family: 'Josefin Sans';
  src: local('Josefin Sans'), url(../public/assets/fonts/JosefinSans/JosefinSans-VariableFont_wght.ttf) format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(../public/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf) format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../public/assets/fonts/Roboto/RobotoFlex-VariableFont.ttf) format("truetype-variations");
  font-weight: 1 999;
}