html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Josefin Sans,
    Roboto,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  height: 100vh;
  width: 100vw;
  border: 0;
  overflow-x: clip;
}

@font-face {
  font-family: 'Josefin Sans';
  src: local('Josefin Sans'), url(../assets/fonts/JosefinSans/JosefinSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Josefin Sans';
  font-weight: bold;
  src: local('Josefin Sans'), url(../assets/fonts/JosefinSans/JosefinSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Josefin Sans';
  font-weight: lighter;
  src: local('Josefin Sans'), url(../assets/fonts/JosefinSans/JosefinSans-Light.ttf) format('truetype');
}